/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    cursor: pointer;
}

/* nav style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav a {
    color: #474747;
    text-decoration: none;

}