/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    cursor: pointer;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
}

nav a {
    color: #474747;
    text-decoration: none;

}

/* header related Styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, top left;
    background-size: 700px, 95px;

}

.banner {
    padding: 30px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greating {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 70px;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 0;

}

.banner .profile-pic {
    width: 600px;
}

.banner-content {
    max-width: 600px;
}

/* main section styles */
main {
    width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section */
.about {
    background-color: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-size: 18px;
    font-weight: 700;
}

/* what i do section styles */

#what-i-do-description {
    margin: 30px 150px;
    color: #757575;
    font-size: 18px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-decription {
    color: #757575;
    font-size: 16px;

}

/* Resume Section style */
.resume-container {
    display: flex;
    gap: 50px;
}

.resume-container hr {
    margin: 30px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
}

.download-cv {
    text-align: center;
    margin-top: 70px;
}

/* font awesome use */
.download::before {
    content: '\f019';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 7px;
}

/* footer style */
.footer {
    display: flex;
    padding: 130px 200px;
    margin-top: 100px;
    background-color: #FFF8F3;
    gap: 100px;

}

.footer-column {
    width: 50%;
}

.contact input[type="text"],
input[type="email"],
textarea {
    display: block;
    margin: 24px 0;
    font-size: 16px;
    padding: 18px 30px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

.social-link {
    margin-right: 15px;
}